syntax: glob

#### project specific exclusions
other
fakeap.py
proxy1

#### temp files
log.txt
*.pyc

#### dist files created by setup.py sdist
dist
*.egg-info
*.egg

#### other dist files that can be created by setup.py
build
hooks*
HEAD
config
description
info/exclude