syntax: glob

#### project specific exclusions
other
dist

#### temp files
log.txt
*.pyc

#### files created by setup.py sdist
*.egg-info
*.egg

#### other dist files that can be created by setup.py
build
hooks*
HEAD
config
description
info/exclude