cffi==0.8.6
cryptography==0.6.1
docopt==0.6.2
lxml==3.4.1
pillow==2.6.1
pycparser==2.10
pydispatcher==2.0.3
pyopenssl==0.14
service-identity==14.0.0
setuptools==7.0
six==1.8.0
tldextract==1.5.1
twisted==14.0.2
zope.interface==4.1.1
